[Desktop Entry]
Name=Drivers, Kernel and boot options
Name[pt]=Opções de driver, kernel e boot
Name[pt_BR]=Opções de driver, kernel e boot
Exec=bigsudo bigkernel
Icon=cpu
Type=Application
StartupNotify=true
Categories=Settings;
