[Desktop Entry]
Name=Kernel and boot options
Name[pt]=Opções de kernel e boot
Name[pt_BR]=Opções de kernel e boot
Exec=bigsudo bigkernel
Icon=emblem-added
Type=Application
StartupNotify=true
Categories=Settings;
