Package: big-kernel
Version: 1.0.1-1big6
Depends: bigbashview, grub-customizer, curl, wget, xanmod-repository, rxvt-unicode, xtermset, software-properties-gtk
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:416
Description: Interface to install and remove kernel from Deepin Xanmod and Ubuntu


