Package: big-kernel
Version: 1.0.1-1big2
Depends: bigbashview, grub-customizer, curl, wget, xanmod-repository, rxvt-unicode, xtermset
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:348
Description: Interface to install and remove kernel from Deepin Xanmod and Ubuntu


